
/* ==========================================================================
   CONFIGURACIÓN DE FONDOS PARA CADA ESCENA
   ========================================================================== */

/* Escena 1: La portada */
#portada {
    background-image: url('../assets/images/portada.png'); /* Ruta a tu foto */
    background-size: cover;        /* Hace que la foto cubra toda la pantalla */
    background-position: center;    /* Centra la imagen */
    background-repeat: no-repeat;
}

#escena1-abu-abrazo {
    background-image: url('../assets/images/abuela_abrazando.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#escena1-abu-ventana {
    background-image: url('../assets/images/abuela_apuntando_ventana.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#escena1-abu-apuntando {
    background-image: url('../assets/images/abuela_apuntando.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#escena1-abu-despedida {
    background-image: url('../assets/images/abuela_despedida.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



/* Escena 2: El viaje en auto */
#sky-viaje {
    background-image: url('../assets/images/ruta_movimiento.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Escena 3: La explicación científica */
#sky-cientifico {
    background-image: url('../assets/images/stars_fixed.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Escena 5: El viaje - Comparación de ciudades */
/* (Como acá tenés tres ciudades distintas, podés poner una por defecto de fondo) */
#sky-comparativa {
    background-image: url('../assets/images/caba.png'); /* Ciudad por defecto */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Escena 7: El cierre global */
#sky-global {
    background-image: url('../assets/images/gaiman_final.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}